.navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ff7eb3;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.navbar a:hover::after {
    width: 100%;
}
